/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo-container {
    padding: 10px;
  }
  
  .logo {
    width: 100%;
    height: auto;
  }
  
  .expand-btn {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .expandable-menu {
    list-style-type: none;
    padding-left: 0;
    display: none;
  }
  
  .expandable-menu.show {
    display: block;
  }
  
  .expandable-menu li {
    padding: 5px 10px;
    background-color: #767575;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .menu-link {
    text-decoration: none;
    color: white;
  }

  .menu-icon {
    width: 17px;
    height: 17px;
    padding: 0 10px 0 0;
  }
